# ==========================
# Coverage
# ==========================
coverage/

# ==========================
# Docker
# ==========================
.docker/
docker-compose.override.yml
*.pid

# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# JetBrains
# ==========================
.idea/

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# React / Node
# ==========================
build/
dist/
node_modules/

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# Rust
# ==========================
**/*.rs.bk
/target

# ==========================
# Temporary Files
# ==========================
temp/
tmp/

# ==========================
# VS Code
# ==========================
.vscode/